In [1]:
import pandas as pd

In [2]:
import sklearn

In [3]:
import sys

In [4]:
df=pd.read_csv('diabetes.csv')

In [5]:
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [6]:
df['Insulin'].mean()

79.79947916666667

In [6]:
'''df['Glucose']=df['Glucose'].replace(0, df['Glucose'].mean())
df['Insulin']=df['Insulin'].replace(0, df['Insulin'].mean())
df['SkinThickness']=df['SkinThickness'].replace(0,df['SkinThickness'].mean())
df['BloodPressure']=df['BloodPressure'].replace(0, df['BloodPressure'].mean())
df['BMI']=df['BMI'].replace(0, df['BMI'].mean())
df['DiabetesPedigreeFunction']=df['DiabetesPedigreeFunction'].replace(0, df['DiabetesPedigreeFunction'].mean())
df['Glucose']=df['Glucose'].replace(0, df['Glucose'].mean())
df
'''

"df['Glucose']=df['Glucose'].replace(0, df['Glucose'].mean())\ndf['Insulin']=df['Insulin'].replace(0, df['Insulin'].mean())\ndf['SkinThickness']=df['SkinThickness'].replace(0,df['SkinThickness'].mean())\ndf['BloodPressure']=df['BloodPressure'].replace(0, df['BloodPressure'].mean())\ndf['BMI']=df['BMI'].replace(0, df['BMI'].mean())\ndf['DiabetesPedigreeFunction']=df['DiabetesPedigreeFunction'].replace(0, df['DiabetesPedigreeFunction'].mean())\ndf['Glucose']=df['Glucose'].replace(0, df['Glucose'].mean())\ndf\n"

In [8]:
df[['Glucose','BloodPressure','SkinThickness','Insulin','BMI','DiabetesPedigreeFunction','Age']]=df[['Glucose','BloodPressure','SkinThickness','Insulin','BMI','DiabetesPedigreeFunction','Age']].replace(0,df[['Glucose','BloodPressure','SkinThickness','Insulin','BMI','DiabetesPedigreeFunction','Age']].mean())

In [9]:
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148.0,72.0,35.000000,79.799479,33.6,0.627,50,1
1,1,85.0,66.0,29.000000,79.799479,26.6,0.351,31,0
2,8,183.0,64.0,20.536458,79.799479,23.3,0.672,32,1
3,1,89.0,66.0,23.000000,94.000000,28.1,0.167,21,0
4,0,137.0,40.0,35.000000,168.000000,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101.0,76.0,48.000000,180.000000,32.9,0.171,63,0
764,2,122.0,70.0,27.000000,79.799479,36.8,0.340,27,0
765,5,121.0,72.0,23.000000,112.000000,26.2,0.245,30,0
766,1,126.0,60.0,20.536458,79.799479,30.1,0.349,47,1
767,1,93.0,70.0,31.000000,79.799479,30.4,0.315,23,0

In [10]:
X=df.iloc[:, :-1].values
y=df.iloc[: , -1].values

In [40]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.40)

In [41]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(X_train)
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

In [42]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(X_train)
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

In [49]:
from sklearn.neighbors import KNeighborsClassifier
classifier = KNeighborsClassifier(n_neighbors = 27)
classifier.fit(X_train, y_train)

KNeighborsClassifier(n_neighbors=27)

In [50]:
y_pred = classifier.predict(X_test)

In [48]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
result = confusion_matrix(y_test, y_pred)
print("Confusion Matrix:")
print(result)
result1 = classification_report(y_test, y_pred)
print("Classification Report:",)
print (result1)
result2 = accuracy_score(y_test,y_pred)
print("Accuracy:",result2)

Confusion Matrix:
[[197  11]
 [ 61  39]]
Classification Report:
              precision    recall  f1-score   support

           0       0.76      0.95      0.85       208
           1       0.78      0.39      0.52       100

    accuracy                           0.77       308
   macro avg       0.77      0.67      0.68       308
weighted avg       0.77      0.77      0.74       308

Accuracy: 0.7662337662337663